/*
Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
SPDX-License-Identifier: Apache-2.0
*/

.guideContainerShadow {
  background-color: var(--color-background-modal-overlay-3ptHv2, rgba(242, 243, 243, 0.9));
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 4999;
  cursor: pointer;
}

.guideContainer {
  cursor: default;
  position: absolute;
  display: inline;
  left: 50%;
  margin-top: 10px;
  transform: translateX(-50%);
  width: 65%;
  min-width: 1200px;
  height: auto;
  z-index: 5000;
  -webkit-animation: guideFadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: guideFadein 0.2s; /* Firefox < 16 */
  -ms-animation: guideFadein 0.2s; /* Internet Explorer */
  -o-animation: guideFadein 0.2s; /* Opera < 12.1 */
  animation: guideFadein 0.2s;
  box-shadow:
    0 1px 1px 0 var(--color-shadow-medium-3CtI4L, rgba(0, 28, 36, 0.3)),
    1px 1px 1px 0 var(--color-shadow-side-2cOaCx, rgba(0, 28, 36, 0.15)),
    -1px 1px 1px 0 var(--color-shadow-side-2cOaCx, rgba(0, 28, 36, 0.15));
  background-color: var(--awsui-color-background-layout-main);
}

.guideMin {
  transform: scale(0.25);
  transform-origin: bottom right;
}

.guideMainContainer {
  margin-top: 10px;
  padding: 0px 18px 0px 18px;
}

@keyframes guideFadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes guideFadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes guideFadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes guideFadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes guideFadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
