/*
Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
SPDX-License-Identifier: Apache-2.0
*/

.pieChart {
  margin-left: 14% !important;
  margin-right: 14% !important;
  padding-top: 0px !important;
}
