/*
Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
SPDX-License-Identifier: Apache-2.0
*/

.selectableCircle {
  height: 26px;
  width: 26px;
  margin-right: 13px;
  margin-bottom: 13px;
  border: 1px;
  border-style: solid;
  border-color: grey;
  border-radius: 50%;
  transform: scale(1);
  transition: transform 0.1s ease-in-out;
  box-shadow: none;
}

.selectableCircle:hover {
  transform: scale(1.2, 1.2);
  cursor: pointer;
  box-shadow:
    0 2px 2px 0 var(--awsui-color-shadow-medium, rgba(0, 28, 36, 0.3)),
    1px 1px 1px 0 var(--awsui-color-shadow-side, rgba(0, 28, 36, 0.15)),
    -1px 1px 1px 0 var(--awsui-color-shadow-side, rgba(0, 28, 36, 0.15)) !important;
}

.selectableCircleActive {
  box-shadow: #046f92 0px 0px 5px;
}

.selectableCircle:focus {
  outline: none !important;
  box-shadow: #046f92 0px 0px 5px;
}
