/*
Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
SPDX-License-Identifier: Apache-2.0
*/

.whyRLSlideContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 32px 0px 32px;
}

.whyRLSlideContent {
  flex-grow: 0;
  flex-basis: 50%;
  padding: 8px;
}

.whyRLSlideText {
  padding-left: 16px;
  padding-right: 16px;
}

.whyRLSlideImage {
  flex-grow: 0;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.otherTypes {
  padding: 16px;
  margin-top: 4px;
  background: rgba(174, 185, 202, 0.151);
  border-radius: 8px;
}

.otherTypes h3 {
  margin-top: 0;
}

.otherTypes ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

.otherTypes h4 {
  font-weight: bold;
  margin: 0 0 0.6em;
}

.otherTypes li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  margin-top: 0px;

  list-style-type: none;
}

.otherTypes img {
  width: 20%;
  flex: 0 0 20%;
  margin-right: 1em;
}

.otherTypes p {
  margin-bottom: 0;
}

.line {
  stroke: #ec7211;
  fill: none;
  stroke-width: 2;
}

.text {
  text-anchor: middle;
  dominant-baseline: middle;
  font-size: 12px;
  fill: currentColor;
}
