/*
Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
SPDX-License-Identifier: Apache-2.0
*/

.defineRewardSlideContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 8px 0px 8px;
}

.defineRewardSlideText {
  flex-grow: 0;
  flex-basis: 50%;
  padding: 0px 32px 0px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.defineRewardSlideGraphic {
  flex-grow: 0;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.step {
  display: inline-flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
  vertical-align: top;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin-right: -100%;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 200ms linear;
  pointer-events: none;
}

.visible {
  opacity: 1;
  pointer-events: all;
}

.step > * {
  flex: 1 1 0px;
  overflow: auto;
  padding: 2em;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}

.step > *:before,
.step > *:after {
  content: '';
  flex: 1 1 0px;
}

.step > *:after {
  flex: 1 0 100px;
}

.defineRewardImage {
  display: block;
  width: 50px;
  margin-bottom: 1em;
}

.defineRewardSlideGraphic pre {
  margin: 0;
  flex: 1 1 auto;
  overflow: hidden;
}

.defineRewardSlideGraphic pre code {
  overflow: auto;
  line-height: 1;
  font-size: 1.2rem;
  max-width: 400px;
}
