/*
Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
SPDX-License-Identifier: Apache-2.0
*/

.centerPieChart {
  margin-left: 32% !important;
  margin-right: 32% !important;
}

.fundamentalsContainer {
  padding-bottom: 46.3%;
}
